body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container {
    width: 100%;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.toggle-btn {
    cursor: pointer;
    background: none;
    border: 2px solid #fc8019;
    color: #fc8019;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    flex: 1;
    margin: 0 5px;
}

.toggle-btn:hover {
    background-color: #fc8019;
    color: white;
}

.toggle-btn.active {
    background-color: #fc8019;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

input {
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input:focus {
    border-color: #fc8019;
    outline: none;
}

button {
    padding: 10px;
    background-color: #fc8019;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

button:hover {
    background-color: #d76b1f;
}
